<html>

<body>
    <h1>New Project<%= name %></h1>
    <canvas id="myLineChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="/js/lineChart.js"></script>
</body>
</html>